<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="shortcut icon" href="~/img/favicon.png" type="image/x-icon">
    <title>Saasland</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="~/css/bootstrap.min.css">
    <!--icon font css-->
    <link rel="stylesheet" href="~/vendors/themify-icon/themify-icons.css">
    <link rel="stylesheet" href="~/vendors/simple-line-icon/simple-line-icons.css">
    <link rel="stylesheet" href="~/vendors/font-awesome/~/css/all.css">
    <link rel="stylesheet" href="~/vendors/flaticon/flaticon.css">
    <link rel="stylesheet" href="~/vendors/animation/animate.css">
    <link rel="stylesheet" href="~/vendors/owl-carousel/assets/owl.carousel.min.css">
    <link rel="stylesheet" href="~/vendors/animation/animate.css">
    <link rel="stylesheet" href="~/vendors/magnify-pop/magnific-popup.css">
    <link rel="stylesheet" href="~/vendors/elagent/style.css">
    <link rel="stylesheet" href="~/vendors/scroll/jquery.mCustomScrollbar.min.css">
    <link rel="stylesheet" href="~/css/style.css">
    <link rel="stylesheet" href="~/css/responsive.css">

</head>

<body>
    <partial name="Partials/_PreloaderPartial" />
    <div class="body_wrapper">

        <partial name="Partials/_HeaderPartial" />

        <section class="event_banner_area">
            <div class="parallax-effect" style="background: url(~/img/home-event/banner_bg.jpg);"></div>
            <div class="container">
                <div class="event_banner_content">
                    <div class="round wow zoomIn" data-wow-delay="0.2s"></div>
                    <h6 class="wow fadeInUp" data-wow-delay="0.6s">@DateTime.Now.ToString("MMMM dd,yyyy")</h6>
                    <h2 class="wow fadeInUp" data-wow-delay="0.8s">
                        <span>EVO </span>COMPUTER<br> TECH SERVİCE
                        <span>@DateTime.Now.ToString("yyyy")</span>
                    </h2>
                    <a class="event_btn btn_hover wow fadeInLeft" data-wow-delay="0.9s" asp-controller="Account" asp-action="Register">KAYIT OL</a>
                    <a class="event_btn event_btn_two btn_hover wow fadeInRight" data-wow-delay="0.9s" href="#">
                        <i class="arrow_triangle-right_alt2"></i>How we Work
                    </a>
                </div>
            </div>
        </section>

        @RenderBody();

        <partial name="Partials/_FooterPartial" />
    </div>



    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="~/js/jquery-3.6.0.min.js"></script>
    <script src="~/js/propper.js"></script>
    <script src="~/js/bootstrap.min.js"></script>
    <script src="~/vendors/wow/wow.min.js"></script>
    <script src="~/vendors/sckroller/jquery.parallax-scroll.js"></script>
    <script src="~/vendors/owl-carousel/owl.carousel.min.js"></script>
    <script src="~/vendors/imagesloaded/imagesloaded.pkgd.min.js"></script>
    <script src="~/vendors/isotope/isotope-min.js"></script>
    <script src="~/vendors/magnify-pop/jquery.magnific-popup.min.js"></script>
    <script src="~/vendors/counterup/jquery.counterup.min.js"></script>
    <script src="~/vendors/counterup/jquery.waypoints.min.js"></script>
    <script src="~/vendors/counterup/appear.js"></script>
    <script src="~/vendors/circle-progress/circle-progress.js"></script>
    <script src="~/vendors/stellar/jquery.stellar.js"></script>
    <script src="~/vendors/scroll/jquery.mCustomScrollbar.concat.min.js"></script>
    <script src="~/js/plugins.js"></script>
    <script src="~/vendors/red-countdown/knob.js"></script>
    <script src="~/vendors/red-countdown/throttle.js"></script>
    <script src="~/vendors/red-countdown/moment.js"></script>
    <script src="~/vendors/red-countdown/redcountdown.js"></script>
    <script src="~/vendors/red-countdown/red-countdown-settings.js"></script>
    <script src="~/js/plugins.js"></script>
    <script src="~/js/main.js"></script>
</body>

</html>