@{
    ViewBag.Title = "Home Page";
}


<section class="event_counter_area">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-4">
                <div class="event_text wow fadeInLeft">
                    <h3>Count Every Second Until the <span>Event</span></h3>
                </div>
            </div>
            <div class="col-lg-8">
                <div class="event_countdown wow fadeInRight">
                    <div class="event_counter red-time-counter">
                        <div class="red-countdown red-countdown-one" data-countdown="31/12/2019"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="event_about_area">
    <div class="container">
        <div class="row align-items-center flex-row-reverse">
            <div class="col-lg-6">
                <div class="event_about_img">
                    <img class="wow fadeInRight" data-wow-delay="0.2s" src="img/home-event/about.jpg" alt="">
                    <div class="about_bg"></div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="event_about_content">
                    <h2 class="wow fadeInUp">Web Design Conference 2019</h2>
                    <p class="wow fadeInUp" data-wow-delay="0.2s">
                        So I said knees up Jeffrey grub me old mucker
                        Oxford spend a penny, pukka codswallop fantastic lost the plot Queen's English. Daft he
                        legged it mufty chancer porkies burke blatant pardon me lavatory.
                    </p>
                    <div class="row">
                        <div class="col-6">
                            <div class="event_about_item wow fadeInUp" data-wow-delay="0.2s">
                                <img src="img/home-event/marker.png" alt="">
                                <h6>Where</h6>
                                <p>Golly gosh the wireless posh loo smashing.</p>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="event_about_item wow fadeInUp" data-wow-delay="0.4s">
                                <img src="img/home-event/timer.png" alt="">
                                <h6>When</h6>
                                <p>Sunday to Wednesday April 24 to 04, 2019</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="event_team_area sec_pad">
    <div class="container">
        <div class="hosting_title security_title text-center">
            <h2 class="wow fadeInUp" data-wow-delay="0.2s"><span>Speakers</span> Who's Speaking</h2>
        </div>
        <div class="event_team_slider owl-carousel">
            <div class="item">
                <div class="e_team_img">
                    <img src="img/home-event/team1.jpg" alt="">
                    <ul class="list-unstyled">
                        <li><a href="#"><i class="social_twitter"></i></a></li>
                        <li><a href="#"><i class="social_facebook"></i></a></li>
                        <li><a href="#"><i class="social_linkedin"></i></a></li>
                    </ul>
                </div>
                <a href="#">
                    <h4>Jason Response</h4>
                </a>
                <p>Graphic Design</p>
            </div>
            <div class="item">
                <div class="e_team_img">
                    <img src="img/home-event/team2.jpg" alt="">
                    <ul class="list-unstyled">
                        <li><a href="#"><i class="social_twitter"></i></a></li>
                        <li><a href="#"><i class="social_facebook"></i></a></li>
                        <li><a href="#"><i class="social_linkedin"></i></a></li>
                    </ul>
                </div>
                <a href="#">
                    <h4>Jason Response</h4>
                </a>
                <p>Graphic Design</p>
            </div>
            <div class="item">
                <div class="e_team_img">
                    <img src="img/home-event/team3.jpg" alt="">
                    <ul class="list-unstyled">
                        <li><a href="#"><i class="social_twitter"></i></a></li>
                        <li><a href="#"><i class="social_facebook"></i></a></li>
                        <li><a href="#"><i class="social_linkedin"></i></a></li>
                    </ul>
                </div>
                <a href="#">
                    <h4>Jason Response</h4>
                </a>
                <p>Graphic Design</p>
            </div>
            <div class="item">
                <div class="e_team_img">
                    <img src="img/home-event/team1.jpg" alt="">
                    <ul class="list-unstyled">
                        <li><a href="#"><i class="social_twitter"></i></a></li>
                        <li><a href="#"><i class="social_facebook"></i></a></li>
                        <li><a href="#"><i class="social_linkedin"></i></a></li>
                    </ul>
                </div>
                <a href="#">
                    <h4>Jason Response</h4>
                </a>
                <p>Graphic Design</p>
            </div>
        </div>
    </div>
</section>
<section class="event_features_area">
    <div class="container">
        <div class="hosting_title security_title text-center">
            <h2 class="wow fadeInUp" data-wow-delay="0.2s"><span>The Event</span>SaasLand in Town</h2>
        </div>
        <div class="row event_features_inner">
            <div class="col-lg-4 col-sm-6">
                <div class="event_features_item text-center wow fadeInUp">
                    <img src="img/home-event/leader.png" alt="">
                    <a href="#">
                        <h5>Meet the Leaders</h5>
                    </a>
                    <p>
                        Lost the plot lurgy on your bike mate Oxford hanky panky blow off haggle golly gosh do
                        one.
                    </p>
                    <a href="#" class="e_features_btn">Buy Tickets <i class="icon_plus"></i></a>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6">
                <div class="event_features_item text-center wow fadeInUp" data-wow-delay="0.2s">
                    <img src="img/home-event/meetup.png" alt="">
                    <a href="#">
                        <h5>Day Long Meetup</h5>
                    </a>
                    <p>
                        Lost the plot lurgy on your bike mate Oxford hanky panky blow off haggle golly gosh do
                        one.
                    </p>
                    <a href="#" class="e_features_btn">Buy Tickets <i class="icon_plus"></i></a>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6">
                <div class="event_features_item text-center wow fadeInUp" data-wow-delay="0.4s">
                    <img src="img/home-event/chat.png" alt="">
                    <a href="#">
                        <h5>Ask Questions</h5>
                    </a>
                    <p>
                        Lost the plot lurgy on your bike mate Oxford hanky panky blow off haggle golly gosh do
                        one.
                    </p>
                    <a href="#" class="e_features_btn">Buy Tickets <i class="icon_plus"></i></a>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="event_promotion_area">
    <div class="container">
        <div class="hosting_title security_title text-center">
            <h2 class="wow fadeInUp" data-wow-delay="0.2s">
                <span>Main Discussions</span>SaasLand Visual Studio
            </h2>
        </div>
        <div class="event_promotion_inner">
            <div class="event_img">
                <img src="img/home-event/promo.jpg" alt="">
            </div>
            <div class="row event_promotion_info align-items-center">
                <div class="col-md-6">
                    <div class="e_promo_text wow fadeInDown">
                        <div class="d-flex">
                            <a href="#" class="promo_tag">Workshop</a>
                            <a href="#" class="date">24 - 06 - 2019</a>
                        </div>
                        <h3>The Impact of Event Marketing</h3>
                        <a href="#" class="event_btn event_btn_two btn_hover">Buy Tickets</a>
                    </div>
                </div>
                <div class="col-md-6">
                    <p>
                        Only a quid it's all gone to pot say codswallop loo tinkety tonk old fruit Oxford Why,
                        porkies cheeky bugger tickety-boo butty a load of old tosh bleeder, down the pub well
                        owt to do with me is chip shop gormless. I don't want no agro bleeder tomfoolery knees
                        up what a load of rubbish the full monty.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="event_schedule_area sec_pad">
    <div class="container">
        <div class="hosting_title security_title text-center">
            <h2 class="wow fadeInUp" data-wow-delay="0.2s"><span>Schedule</span>Conference Schedule</h2>
        </div>
        <div class="event_schedule_inner">
            <ul class="nav nav-tabs event_tab" role="tablist">
                <li class="nav-item wow fadeInUp" data-wow-delay="0.4s">
                    <a class="nav-link active" id="one-tab" data-toggle="tab" href="#one" role="tab"
                       aria-controls="one" aria-selected="true">
                        <h5>Day 1<span>Feb 20, 2019</span></h5>
                    </a>
                </li>
                <li class="nav-item wow fadeInUp" data-wow-delay="0.6s">
                    <a class="nav-link" id="two-tab" data-toggle="tab" href="#two" role="tab"
                       aria-controls="two" aria-selected="false">
                        <h5>Day 2<span>Mar 29, 2020</span></h5>
                    </a>
                </li>
                <li class="nav-item wow fadeInUp" data-wow-delay="0.8s">
                    <a class="nav-link" id="three-tab" data-toggle="tab" href="#three" role="tab"
                       aria-controls="three" aria-selected="false">
                        <h5>Day 3<span>Dec 29, 2019</span></h5>
                    </a>
                </li>
            </ul>
            <div class="tab-content event_tab_content">
                <div class="tab-pane fade show active" id="one" role="tabpanel" aria-labelledby="one-tab">
                    <div class="media">
                        <div class="media-left">
                            <img src="img/home-event/conference.jpg" alt="">
                            <a href="#"><i class="icon_clock_alt"></i>10:30 - 12:30 AM</a>
                            <a href="#"><i class="icon_pin_alt"></i>Room 2</a>
                        </div>
                        <div class="media-body">
                            <h3 class="h_head">The future of the UI/UX</h3>
                            <span>by <a href="#">Hanson Deck</a></span>
                            <p>
                                Lost the plot lurgy on your bike mate Oxford hanky panky blow off haggle golly
                                gosh do one, is tosser car boot knees.
                            </p>
                        </div>
                    </div>
                    <div class="media">
                        <div class="media-left">
                            <img src="img/home-event/digital.jpg" alt="">
                            <a href="#"><i class="icon_clock_alt"></i>10:30 - 12:30 AM</a>
                            <a href="#"><i class="icon_pin_alt"></i>Room 2</a>
                        </div>
                        <div class="media-body">
                            <h3 class="h_head">Opening Conference</h3>
                            <span>by <a href="#">Hanson Deck</a></span>
                            <p>
                                Lost the plot lurgy on your bike mate Oxford hanky panky blow off haggle golly
                                gosh do one, is tosser car boot knees.
                            </p>
                        </div>
                    </div>
                    <div class="media">
                        <div class="media-left">
                            <img src="img/home-event/marketing.jpg" alt="">
                            <a href="#"><i class="icon_clock_alt"></i>10:30 - 12:30 AM</a>
                            <a href="#"><i class="icon_pin_alt"></i>Room 2</a>
                        </div>
                        <div class="media-body">
                            <h3 class="h_head">Digital World Event Information</h3>
                            <span>by <a href="#">Hanson Deck</a></span>
                            <p>
                                Lost the plot lurgy on your bike mate Oxford hanky panky blow off haggle golly
                                gosh do one, is tosser car boot knees.
                            </p>
                        </div>
                    </div>
                    <div class="media">
                        <div class="media-left">
                            <img src="img/home-event/conference.jpg" alt="">
                            <a href="#"><i class="icon_clock_alt"></i>10:30 - 12:30 AM</a>
                            <a href="#"><i class="icon_pin_alt"></i>Room 2</a>
                        </div>
                        <div class="media-body">
                            <h3 class="h_head">Digital Marketing Theory</h3>
                            <span>by <a href="#">Hanson Deck</a></span>
                            <p>
                                Lost the plot lurgy on your bike mate Oxford hanky panky blow off haggle golly
                                gosh do one, is tosser car boot knees.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="two" role="tabpanel" aria-labelledby="two-tab">
                    <div class="media">
                        <div class="media-left">
                            <img src="img/home-event/conference.jpg" alt="">
                            <a href="#"><i class="icon_clock_alt"></i>10:30 - 12:30 AM</a>
                            <a href="#"><i class="icon_pin_alt"></i>Room 2</a>
                        </div>
                        <div class="media-body">
                            <h3 class="h_head">The future of the UI/UX</h3>
                            <span>by <a href="#">Hanson Deck</a></span>
                            <p>
                                Lost the plot lurgy on your bike mate Oxford hanky panky blow off haggle golly
                                gosh do one, is tosser car boot knees.
                            </p>
                        </div>
                    </div>
                    <div class="media">
                        <div class="media-left">
                            <img src="img/home-event/digital.jpg" alt="">
                            <a href="#"><i class="icon_clock_alt"></i>10:30 - 12:30 AM</a>
                            <a href="#"><i class="icon_pin_alt"></i>Room 2</a>
                        </div>
                        <div class="media-body">
                            <h3 class="h_head">Opening Conference</h3>
                            <span>by <a href="#">Hanson Deck</a></span>
                            <p>
                                Lost the plot lurgy on your bike mate Oxford hanky panky blow off haggle golly
                                gosh do one, is tosser car boot knees.
                            </p>
                        </div>
                    </div>
                    <div class="media">
                        <div class="media-left">
                            <img src="img/home-event/marketing.jpg" alt="">
                            <a href="#"><i class="icon_clock_alt"></i>10:30 - 12:30 AM</a>
                            <a href="#"><i class="icon_pin_alt"></i>Room 2</a>
                        </div>
                        <div class="media-body">
                            <h3 class="h_head">Digital World Event Information</h3>
                            <span>by <a href="#">Hanson Deck</a></span>
                            <p>
                                Lost the plot lurgy on your bike mate Oxford hanky panky blow off haggle golly
                                gosh do one, is tosser car boot knees.
                            </p>
                        </div>
                    </div>
                    <div class="media">
                        <div class="media-left">
                            <img src="img/home-event/conference.jpg" alt="">
                            <a href="#"><i class="icon_clock_alt"></i>10:30 - 12:30 AM</a>
                            <a href="#"><i class="icon_pin_alt"></i>Room 2</a>
                        </div>
                        <div class="media-body">
                            <h3 class="h_head">Digital Marketing Theory</h3>
                            <span>by <a href="#">Hanson Deck</a></span>
                            <p>
                                Lost the plot lurgy on your bike mate Oxford hanky panky blow off haggle golly
                                gosh do one, is tosser car boot knees.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="three" role="tabpanel" aria-labelledby="three-tab">
                    <div class="media">
                        <div class="media-left">
                            <img src="img/home-event/marketing.jpg" alt="">
                            <a href="#"><i class="icon_clock_alt"></i>10:30 - 12:30 AM</a>
                            <a href="#"><i class="icon_pin_alt"></i>Room 2</a>
                        </div>
                        <div class="media-body">
                            <h3 class="h_head">Digital World Event Information</h3>
                            <span>by <a href="#">Hanson Deck</a></span>
                            <p>
                                Lost the plot lurgy on your bike mate Oxford hanky panky blow off haggle golly
                                gosh do one, is tosser car boot knees.
                            </p>
                        </div>
                    </div>
                    <div class="media">
                        <div class="media-left">
                            <img src="img/home-event/conference.jpg" alt="">
                            <a href="#"><i class="icon_clock_alt"></i>10:30 - 12:30 AM</a>
                            <a href="#"><i class="icon_pin_alt"></i>Room 2</a>
                        </div>
                        <div class="media-body">
                            <h3 class="h_head">Digital Marketing Theory</h3>
                            <span>by <a href="#">Hanson Deck</a></span>
                            <p>
                                Lost the plot lurgy on your bike mate Oxford hanky panky blow off haggle golly
                                gosh do one, is tosser car boot knees.
                            </p>
                        </div>
                    </div>
                    <div class="media">
                        <div class="media-left">
                            <img src="img/home-event/conference.jpg" alt="">
                            <a href="#"><i class="icon_clock_alt"></i>10:30 - 12:30 AM</a>
                            <a href="#"><i class="icon_pin_alt"></i>Room 2</a>
                        </div>
                        <div class="media-body">
                            <h3 class="h_head">The future of the UI/UX</h3>
                            <span>by <a href="#">Hanson Deck</a></span>
                            <p>
                                Lost the plot lurgy on your bike mate Oxford hanky panky blow off haggle golly
                                gosh do one, is tosser car boot knees.
                            </p>
                        </div>
                    </div>
                    <div class="media">
                        <div class="media-left">
                            <img src="img/home-event/digital.jpg" alt="">
                            <a href="#"><i class="icon_clock_alt"></i>10:30 - 12:30 AM</a>
                            <a href="#"><i class="icon_pin_alt"></i>Room 2</a>
                        </div>
                        <div class="media-body">
                            <h3 class="h_head">Opening Conference</h3>
                            <span>by <a href="#">Hanson Deck</a></span>
                            <p>
                                Lost the plot lurgy on your bike mate Oxford hanky panky blow off haggle golly
                                gosh do one, is tosser car boot knees.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="event_price_area sec_pad">
    <div class="container">
        <div class="hosting_title security_title text-center">
            <h2><span>14-day free trial.</span> No credit card required.</h2>
        </div>
        <div class="row align-items-center">
            <div class="col-lg-4 col-sm-6">
                <div class="analytices_price_item event_price_item wow fadeInUp">
                    <div class="p_head">
                        <h5>One day Pass</h5>
                        <div class="rate">$59.99</div>
                    </div>
                    <ul class="list-unstyled p_body">
                        <li>All Lite features <i class="ti-check"></i></li>
                        <li>Unlimited contacts <i class="ti-check"></i></li>
                        <li>Remove Sendinblue <i class="ti-close"></i></li>
                        <li>logo from emails <i class="ti-close"></i></li>
                        <li>Advanced statistics <i class="ti-check"></i></li>
                    </ul>
                    <div class="text-center">
                        <a href="#" class="event_btn event_btn_two btn_hover">Buy Ticket</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6">
                <div class="analytices_price_item event_price_item active wow fadeInUp" data-wow-delay="0.2s">
                    <div class="p_head">
                        <h5>Starter</h5>
                        <h6 class="tag"><i class="icon_ribbon_alt"></i>Most popular</h6>
                        <div class="rate">$59.99</div>
                    </div>
                    <ul class="list-unstyled p_body">
                        <li>All Lite features <i class="ti-check"></i></li>
                        <li>Unlimited contacts <i class="ti-check"></i></li>
                        <li>Remove Sendinblue <i class="ti-close"></i></li>
                        <li>logo from emails <i class="ti-close"></i></li>
                        <li>Advanced statistics <i class="ti-check"></i></li>
                    </ul>
                    <div class="text-center">
                        <a href="#" class="event_btn btn_hover">Buy Ticket</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6">
                <div class="analytices_price_item event_price_item wow fadeInUp" data-wow-delay="0.4s">
                    <div class="p_head">
                        <h5>VIP Seat</h5>
                        <div class="rate">$159.99</div>
                    </div>
                    <ul class="list-unstyled p_body">
                        <li>All Lite features <i class="ti-check"></i></li>
                        <li>Unlimited contacts <i class="ti-check"></i></li>
                        <li>Remove Sendinblue <i class="ti-close"></i></li>
                        <li>logo from emails <i class="ti-close"></i></li>
                        <li>Advanced statistics <i class="ti-check"></i></li>
                    </ul>
                    <div class="text-center">
                        <a href="#" class="event_btn event_btn_two btn_hover">Buy Ticket</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="event_fact_area sec_pad">
    <div class="container">
        <div class="hosting_title security_title text-center">
            <h2><span>Over 1200+</span> completed work & Still counting.</h2>
        </div>
        <div class="seo_fact_info">
            <div class="seo_fact_item wow fadeIn">
                <div class="text">
                    <div class="counter one">693</div>
                    <p>Happy Clients</p>
                </div>
            </div>
            <div class="seo_fact_item wow fadeIn" data-wow-delay="0.3s">
                <div class="text">
                    <div class="counter two">276</div>
                    <p>Projects</p>
                </div>
            </div>
            <div class="seo_fact_item wow fadeIn" data-wow-delay="0.6s">
                <div class="text">
                    <div class="counter three">102</div>
                    <p>SEO Winners</p>
                </div>
            </div>
            <div class="seo_fact_item last wow fadeIn" data-wow-delay="0.9s">
                <div class="text">
                    <div class="counter four">93</div>
                    <p>Experience</p>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="event_gallery_area">
    <div class="row m0 portfolio_gallery event_gallery">
        <div class="col-lg-2 col-sm-4 portfolio_item br ux p0">
            <div class="portfolio_img">
                <img src="img/home-event/image_01.jpg" alt="">
                <div class="hover_content">
                    <div class="portfolio-description leaf">
                        <a href="work-default.html" class="portfolio-title">
                            <h3 class="f_500 f_size_20 f_p">Apple Mobile Mockup</h3>
                        </a>
                        <div class="links"><a href="#">Branding,</a><a href="#">Fashion</a></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-2 col-sm-4 portfolio_item br ux p0">
            <div class="portfolio_img">
                <img src="img/home-event/image_02.jpg" alt="">
                <div class="hover_content">
                    <div class="portfolio-description leaf">
                        <a href="work-default.html" class="portfolio-title">
                            <h3 class="f_500 f_size_20 f_p">Apple Mobile Mockup</h3>
                        </a>
                        <div class="links"><a href="#">Branding,</a><a href="#">Fashion</a></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-2 col-sm-4 portfolio_item br ux p0">
            <div class="portfolio_img">
                <img src="img/home-event/image_03.jpg" alt="">
                <div class="hover_content">
                    <div class="portfolio-description leaf">
                        <a href="work-default.html" class="portfolio-title">
                            <h3 class="f_500 f_size_20 f_p">Apple Mobile Mockup</h3>
                        </a>
                        <div class="links"><a href="#">Branding,</a><a href="#">Fashion</a></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-2 col-sm-4 portfolio_item br ux p0">
            <div class="portfolio_img">
                <img src="img/home-event/image_04.jpg" alt="">
                <div class="hover_content">
                    <div class="portfolio-description leaf">
                        <a href="work-default.html" class="portfolio-title">
                            <h3 class="f_500 f_size_20 f_p">Apple Mobile Mockup</h3>
                        </a>
                        <div class="links"><a href="#">Branding,</a><a href="#">Fashion</a></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-2 col-sm-4 portfolio_item br ux p0">
            <div class="portfolio_img">
                <img src="img/home-event/image_05.jpg" alt="">
                <div class="hover_content">
                    <div class="portfolio-description leaf">
                        <a href="work-default.html" class="portfolio-title">
                            <h3 class="f_500 f_size_20 f_p">Presenattion</h3>
                        </a>
                        <div class="links"><a href="#">Event</a></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-2 col-sm-4 portfolio_item br ux p0">
            <div class="portfolio_img">
                <img src="img/home-event/image_06.jpg" alt="">
                <div class="hover_content">
                    <div class="portfolio-description leaf">
                        <a href="work-default.html" class="portfolio-title">
                            <h3 class="f_500 f_size_20 f_p">Apple Mobile Mockup</h3>
                        </a>
                        <div class="links"><a href="#">Branding,</a><a href="#">Fashion</a></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="event_sponser_area sec_pad">
    <div class="container">
        <div class="hosting_title security_title text-center">
            <h2><span>Lovely Clients</span> Offcial Sponsors</h2>
        </div>
        <div class="event_sponser_inner">
            <div class="event_sponser_item">
                <div class="row">
                    <div class="col-lg-3 col-md-4">
                        <h4 class="h_head sponser_title">Principal Sponsor</h4>
                    </div>
                    <div class="col-lg-9 col-md-8">
                        <div class="row">
                            <div class="col-lg-3 col-sm-4 col-6">
                                <a href="#" class="analytices_logo wow fadeInUp">
                                    <img src="img/home-software/logo_01.png" alt="">
                                </a>
                            </div>
                            <div class="col-lg-3 col-sm-4 col-6">
                                <a href="#" class="analytices_logo wow fadeInUp">
                                    <img src="img/home-software/logo_02.png" alt="">
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="event_sponser_item">
                <div class="row">
                    <div class="col-lg-3 col-md-4">
                        <h4 class="h_head sponser_title">Platinum Sponsor</h4>
                    </div>
                    <div class="col-lg-9 col-md-8">
                        <div class="row">
                            <div class="col-lg-3 col-sm-4 col-6">
                                <a href="#" class="analytices_logo wow fadeInUp">
                                    <img src="img/home-software/logo_05.png" alt="">
                                </a>
                            </div>
                            <div class="col-lg-3 col-sm-4 col-6">
                                <a href="#" class="analytices_logo wow fadeInUp">
                                    <img src="img/home-software/logo_06.png" alt="">
                                </a>
                            </div>
                            <div class="col-lg-3 col-sm-4 col-6">
                                <a href="#" class="analytices_logo wow fadeInUp">
                                    <img src="img/home-software/logo_07.png" alt="">
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="event_sponser_item">
                <div class="row">
                    <div class="col-lg-3 col-md-4">
                        <h4 class="h_head sponser_title">Gold Sponsor</h4>
                    </div>
                    <div class="col-lg-9 col-md-8">
                        <div class="row">
                            <div class="col-lg-3 col-sm-4 col-6">
                                <a href="#" class="analytices_logo wow fadeInUp">
                                    <img src="img/home-software/logo_09.png" alt="">
                                </a>
                            </div>
                            <div class="col-lg-3 col-sm-4 col-6">
                                <a href="#" class="analytices_logo wow fadeInUp">
                                    <img src="img/home-software/logo_10.png" alt="">
                                </a>
                            </div>
                            <div class="col-lg-3 col-sm-4 col-6">
                                <a href="#" class="analytices_logo wow fadeInUp">
                                    <img src="img/home-software/logo_11.png" alt="">
                                </a>
                            </div>
                            <div class="col-lg-3 col-sm-4 col-6">
                                <a href="#" class="analytices_logo wow fadeInUp">
                                    <img src="img/home-software/logo_12.png" alt="">
                                </a>
                            </div>
                            <div class="col-lg-3 col-sm-4 col-6">
                                <a href="#" class="analytices_logo wow fadeInUp">
                                    <img src="img/home-software/logo_05.png" alt="">
                                </a>
                            </div>
                            <div class="col-lg-3 col-sm-4 col-6">
                                <a href="#" class="analytices_logo wow fadeInUp">
                                    <img src="img/home-software/logo_06.png" alt="">
                                </a>
                            </div>
                            <div class="col-lg-3 col-sm-4 col-6">
                                <a href="#" class="analytices_logo wow fadeInUp">
                                    <img src="img/home-software/logo_07.png" alt="">
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="event_sponser_item text-center">
                <a class="event_btn btn_hover wow fadeInLeft" data-wow-delay="0.9s" href="#">More Sponsors</a>
                <a class="event_btn event_btn_two btn_hover wow fadeInRight" data-wow-delay="0.9s"
                   href="#">Become a Sponsors</a>
            </div>
        </div>
    </div>
</section>
<section class="event_location_area">
    <div class="map">
        <iframe class="actAsDiv"
                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d198725.17847734212!2d-77.15465264882869!3d38.899264957793875!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89b7c6de5af6e45b%3A0xc2524522d4885d2a!2sWashington%2C+DC%2C+USA!5e0!3m2!1sen!2sbd!4v1480701250770"></iframe>
    </div>
    <div class="container">
        <div class="event_location">
            <div class="contact_info_item">
                <h6>Venue Infos</h6>
                <p>Mirpur 1620 Collins Street West <br>Victoria 406 New York</p>
            </div>
            <div class="contact_info_item">
                <h6>Contact Info</h6>
                <p><a href="mailto:saasland@gmail.com">saasland@gmail.com</a></p>
                <p><a href="tel:3024437488">(+096) 302 443 7488</a></p>
            </div>
            <div class="f_social_icon_two">
                <a href="#"><i class="ti-facebook"></i></a>
                <a href="#"><i class="ti-twitter-alt"></i></a>
                <a href="#"><i class="ti-vimeo-alt"></i></a>
                <a href="#"><i class="ti-pinterest"></i></a>
            </div>
        </div>
    </div>
</section>
