@using Microsoft.AspNetCore.Identity
@using EvoComputerTechService.Models.Identity
@using Microsoft.AspNetCore.Http
@inject SignInManager<ApplicationUser> signInManager
@inject UserManager<ApplicationUser> userManager

<div class="sidebar-wrapper sidebar-theme">

    <div id="dismiss" class="d-lg-none"><i class="flaticon-cancel-12"></i></div>

    <nav id="sidebar">

        <ul class="navbar-nav theme-brand flex-row  d-none d-lg-flex">
            <li class="nav-item d-flex">
                <a asp-action="Index" class="navbar-brand">
                    <img src="~/admin-assets/assets/img/logo-4.png" class="img-fluid" alt="logo">
                </a>
                <p class="border-underline"></p>
            </li>
            <li class="nav-item theme-text">
                <a asp-action="Index" class="nav-link"> Equation </a>
            </li>
        </ul>


        <ul class="list-unstyled menu-categories" id="accordionExample">
            <li class="menu">
                <a href="#dashboard" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
                    <div class="">
                        <i class="flaticon-computer-6 ml-3"></i>
                        <span>Dashboard</span>
                    </div>

                    <div>
                        <span class="badge badge-pill badge-secondary mr-2">7</span>
                    </div>
                </a>
                <ul class="collapse submenu list-unstyled" id="dashboard" data-parent="#accordionExample">
                    <li>
                        <a href="index.html"> <i class="flaticon-computer-4"></i> Default </a>
                    </li>
                    <li>
                        <a href="accounting_dashboard.html"> <i class="flaticon-chart-line"></i> Accounting </a>
                    </li>
                    <li>
                        <a href="analytics_dashboard.html"> <i class="flaticon-computer-2"></i> Analytics </a>
                    </li>
                    <li>
                        <a href="car_dashboard.html"> <i class="flaticon-car"></i> Car </a>
                    </li>
                    <li>
                        <a href="classic_dashboard.html"> <i class="flaticon-computer-8"></i> Classic </a>
                    </li>
                    <li>
                        <a href="stock_market_dashboard.html"> <i class="flaticon-up-chart"></i> Stock Market </a>
                    </li>
                    <li>
                        <a href="cryptocurrency_dashboard.html"> <i class="flaticon-bitcoin-circle"></i> Cryptocurrency </a>
                    </li>
                </ul>
            </li>


            @if (Context.User.IsInRole(RoleNames.Admin))
            {
                <li class="menu">
                    <a href="#ecommerce" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
                        <div class="">
                            <i class="flaticon-cart-2"></i>
                            <span>KULLANICILAR</span>
                        </div>
                        <div>
                            <i class="flaticon-right-arrow"></i>
                        </div>
                    </a>
                    <ul class="collapse submenu list-unstyled" id="ecommerce" data-parent="#accordionExample">
                        <li>
                            <a asp-action="Users" asp-controller="Admin" asp-area="Admin"> Kullanıcılar </a>
                        </li>
                    </ul>
                </li>

                <li class="menu">
                    <a href="#ecommerce2" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
                        <div class="">
                            <i class="flaticon-cart-2"></i>
                            <span>ÜRÜNLER</span>
                        </div>
                        <div>
                            <i class="flaticon-right-arrow"></i>
                        </div>
                    </a>
                    <ul class="collapse submenu list-unstyled" id="ecommerce2" data-parent="#accordionExample">
                        <li>
                            <a asp-action="Products" asp-controller="Admin" asp-area="Admin"> Ürünler </a>
                        </li>
                    </ul>
                </li>
            }

            @if (Context.User.IsInRole(RoleNames.Operator))
            {
                <li class="menu">
                    <a href="#ecommerce" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
                        <div class="">
                            <i class="flaticon-cart-2"></i>
                            <span>KAYITLAR</span>
                        </div>
                        <div>
                            <i class="flaticon-right-arrow"></i>
                        </div>
                    </a>
                    <ul class="collapse submenu list-unstyled" id="ecommerce" data-parent="#accordionExample">
                        <li>
                            <a asp-action="WaitingIssues" asp-controller="Operator" asp-area="Admin"> Beklemede Olanlar </a>
                        </li>
                    </ul>
                    <ul class="collapse submenu list-unstyled" id="ecommerce" data-parent="#accordionExample">
                        <li>
                            <a asp-action="AssignedIssues" asp-controller="Operator" asp-area="Admin"> Atanan Talepler </a>
                        </li>
                    </ul>
                    <ul class="collapse submenu list-unstyled" id="ecommerce" data-parent="#accordionExample">
                        <li>
                            <a asp-action="ActiveIssues" asp-controller="Operator" asp-area="Admin"> İşlemdeki Talepler </a>
                        </li>
                    </ul>
                    <ul class="collapse submenu list-unstyled" id="ecommerce" data-parent="#accordionExample">
                        <li>
                            <a asp-action="CompletedIssues" asp-controller="Operator" asp-area="Admin"> Tamamlananlar </a>
                        </li>
                    </ul>
                    <ul class="collapse submenu list-unstyled" id="ecommerce" data-parent="#accordionExample">
                        <li>
                            <a asp-action="PaidIssues" asp-controller="Operator" asp-area="Admin"> Ödenenler </a>
                        </li>
                    </ul>
                </li>
            }

            @if (Context.User.IsInRole(RoleNames.Technician))
            {
        <li class="menu">
            <a href="#ecommerce" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
                <div class="">
                    <i class="flaticon-cart-2"></i>
                    <span>TALEPLERİM</span>
                </div>
                <div>
                    <i class="flaticon-right-arrow"></i>
                </div>
            </a>
            <ul class="collapse submenu list-unstyled" id="ecommerce" data-parent="#accordionExample">
                <li>
                    <a asp-action="MyIssues" asp-controller="Technician" asp-area="Admin"> Atanan Talepler </a>
                </li>
            </ul>
            <ul class="collapse submenu list-unstyled" id="ecommerce" data-parent="#accordionExample">
                <li>
                    <a asp-action="AcceptedIssues" asp-controller="Technician" asp-area="Admin"> Kabul Ettiklerim </a>
                </li>
            </ul>
            <ul class="collapse submenu list-unstyled" id="ecommerce" data-parent="#accordionExample">
                <li>
                    <a asp-action="CompletedIssues" asp-controller="Technician" asp-area="Admin"> Tamamlanan Talepler </a>
                </li>
            </ul>
        </li>
            }

        </ul>
    </nav>

</div>
