@model PasswordUpdateViewModel

@{
    ViewBag.Title = "Şifre Güncelleme Sayfası";
}

<div class="body_wrapper">
    <section class="sign_in_area bg_color sec_pad">
        <div class="container">
            <div class="sign_info">
                <div class="row">
                    <div>
                        <div class="login_info">
                            <h2 class="f_p f_600 f_size_24 t_color3 mb_40">ŞİFRE GÜNCELLEME</h2>
                            <form method="post" asp-controller="Account" asp-action="PasswordUpdate" class="login-form sign-in-form">
                                <div class="form-group text_box">
                                    <label asp-for="OldPassword"></label>
                                    <input asp-for="OldPassword" placeholder="Eski Şifre..." />
                                    <span asp-validation-for="OldPassword" class="text-danger"></span>
                                </div>
                                <div class="form-group text_box">
                                    <label asp-for="NewPassword"></label>
                                    <input asp-for="NewPassword" placeholder="Yeni Şifre..." />
                                    <span asp-validation-for="NewPassword" class="text-danger"></span>
                                </div>
                                <div class="form-group text_box">
                                    <label asp-for="ConfirmNewPassword"></label>
                                    <input asp-for="ConfirmNewPassword" placeholder="Yeni Şifre Tekrar..." />
                                    <span asp-validation-for="ConfirmNewPassword" class="text-danger"></span>
                                </div>
                                <div class="d-flex justify-content-between align-items-center">
                                    <button type="submit" class="btn_three">GÜNCELLE</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
