@{
    ViewBag.Title = "Şifremi Unuttum";
}

<section class="saas_banner_area_two Cus_subs_el">
    <div class="section_intro">
        <div class="section_container Sass_he">
            <div class="intro Subs_ele_cus">
                <div class=" intro_content">
                    <h1 class="f_700 f_size_50 w_color f_p sub_hecu">ŞİFREMİ UNUTTUM?</h1>
                    <p class="w_color f_size_18">
                        Email Adresinizi Giriniz
                    </p>
                    <form method="post" asp-controller="Account" asp-action="ResetPassword">
                        <div class="input-group subcribes">
                            <input type="email" name="email" id="email" class="form-control"
                                   placeholder="örnek@gmail.com">
                            <input class="btn btn_submit f_size_15 f_500" type="submit" value="GÖNDER" />
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>


