@model List<Issue>

<section class="shop_list_area sec_pad">
    <div class="container">
        @foreach (var item in Model)
        {
            <div class="row shop_list_item">
                <div class="col-md-5">
                    <div class="shop_list_img">
                        <img class="img-fluid" src="~/img/shop/shop-list/shop-list1.jpg" alt="">
                    </div>
                </div>
                <div class="col-md-7 single_product_item mt-0">
                    <div class="single_pr_details text-left">
                        <a href="product-details-1.html" class="s_list_title">
                            <h3 class="f_p f_500 f_size_22">@item.IssueName</h3>
                        </a>
                        <div class="ratting">
                            <a href="#">@item.IssueState</a>
                        </div>
                        <div class="price">
                            <ins>
                                <span class="woocommerce-Price-amount amount">
                                    <span class="woocommerce-Price-currencySymbol"></span>@item.CreatedDate
                                </span>
                            </ins>
                        </div>

                        <p class="f_p f_400 f_size_15 mt_30 mb_50">
                            @item.Description
                        </p>
                        <div class="pr_button">
                            <button type="submit" name="add-to-cart" value="641" class="cart_btn">
                                ÖDE
                            </button>
                            @*<a href="#"><i class="ti-heart"></i></a>
                            <a href="#"><i class="ti-eye"></i></a>*@
                        </div>
                    </div>
                </div>
            </div>
        }

    </div>
</section>
