@model Issue

<section class="breadcrumb_area">
    <img class="breadcrumb_shap" src="~/img/breadcrumb/banner_bg.png" alt="">
    <div class="container">
        <div class="breadcrumb_content text-center">
            <h1 class="f_p f_700 f_size_50 w_color l_height50 mb_20">Contac Us</h1>
            <p class="f_400 w_color f_size_16 l_height26">
                Why I say old chap that is spiffing off his nut arse
                pear shaped plastered<br> Jeffrey bodge barney some dodgy.!!
            </p>
        </div>
    </div>
</section>

<section class="contact_info_area sec_pad bg_color">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 pr-0">
                <div class="contact_info_item">
                    <h6 class="f_p f_size_20 t_color3 f_500 mb_20">Office Address</h6>
                    <p class="f_400 f_size_15">Melbourne’s GPO 434 Bourke St. Dhaka VIC 3074, Australia</p>
                </div>
                <div class="contact_info_item">
                    <h6 class="f_p f_size_20 t_color3 f_500 mb_20">Contact Info</h6>
                    <p class="f_400 f_size_15">
                        <span class="f_400 t_color3">Phone:</span> <a href="tel:3024437488">(+096) 302 443 7488</a>
                    </p>
                    <p class="f_400 f_size_15">
                        <span class="f_400 t_color3">Fax:</span> <a href="tel:3024437488">(+096) 204 353 6684</a>
                    </p>
                    <p class="f_400 f_size_15">
                        <span class="f_400 t_color3">Email:</span> <a href="mailto:saasland@gmail.com">saasland@gmail.com</a>
                    </p>
                </div>
            </div>
            <div class="col-lg-8 offset-lg-1">
                <div class="contact_form">
                    <form asp-controller="Issue" asp-action="UpdateIssue" class="contact_form_box" method="post" id="contactForm"
                          novalidate="novalidate">
                        <input type="hidden" id="lat" name="lat" />
                        <input type="hidden" id="lng" name="lng" />


                        <div class="row">
                            <div class="col-lg-6">
                                <div class="form-group text_box">
                                    <label asp-for="IssueName"></label>
                                    <input asp-for="IssueName" placeholder="Kullanıcı Adı" />
                                    <span asp-validation-for="IssueName" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="form-group text_box">
                                    <label asp-for="AddressDetail"></label>
                                    <input asp-for="AddressDetail" placeholder="Adres Detayı" />
                                    <span asp-validation-for="AddressDetail" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-lg-12">
                                <div class="form-group text_box">
                                    <textarea asp-for="Description" cols="30" rows="10"
                                              placeholder="Enter Your Message . . ."></textarea>
                                </div>
                            </div>
                        </div>
                        <button type="submit" class="btn_three">Arıza Kaydını Güncelle</button>
                    </form>
                    <div id="success">Your message succesfully sent!</div>
                    <div id="error">Opps! There is something wrong. Please try again</div>
                </div>
            </div>
        </div>
    </div>
</section>






<section class="mapbox2">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div id="map"></div>
            </div>
        </div>
    </div>
</section>

@section Styles {
    <style>
        #map {
            height: 450px;
            width: 100%;
            position: absolute;
        }
    </style>
}

@section Scripts {
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA74z7LZzTqKlJPcwjA2XlzNEYhBInY9SA&callback=initMap&v=weekly"
            async></script>
    <script>
        var map = null;
        var marker = null;
        function addMarker(position) {
            const marker = new google.maps.Marker({
                position,
                map,
            });
        }
        function initMap() {
            console.log("Harita Yüklendi.");
            const myLatlng = { lat: @Model.Latitude, lng: @Model.Longitude };
            console.log(@Model.Latitude);
            console.log(@Model.Longitude);
            map = new google.maps.Map(document.getElementById("map"), {
                zoom: 16,
                center: myLatlng,
                mapTypeId: "terrain"
            });
            marker = new google.maps.Marker({
                position: myLatlng,
                map: map,
            });
            map.addListener("click", (mapsMouseEvent) => {
                console.log("Tıklandı");
                console.log(mapsMouseEvent);
                if (marker == null) {
                    marker = new google.maps.Marker({
                        position: mapsMouseEvent.latLng,
                        map: map
                    });
                    marker.getTitle(JSON.stringify(mapsMouseEvent.latLng.toJSON(), null, 2))
                }
                else {
                    marker.setMap(null);
                    marker = new google.maps.Marker({
                        position: mapsMouseEvent.latLng,
                        map: map,
                    });
                }
                document.getElementById("lat").value = mapsMouseEvent.latLng.lat();
                document.getElementById("lng").value = mapsMouseEvent.latLng.lng();
                console.log("Enlem: " + mapsMouseEvent.latLng.lat());
                console.log("Boylam: " + mapsMouseEvent.latLng.lng());
                marker.getTitle(JSON.stringify(mapsMouseEvent.latLng.toJSON(), null, 2))
            });
        }
    </script>

}